.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .cbox {
    .b-title {
      width: 100%;
      font-size: 0.38rem;
      margin-top: 0.16rem;
    }
    .img-box {
      overflow: hidden;
      position: relative;
      border-radius: 0.05rem;
      .concern {
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
        bottom: 0;
        box-sizing: border-box;
        color: #ffffff;
        height: 1.4rem;
        line-height: 2rem;
        padding-right: 0.1rem;
        position: absolute;
        text-align: right;
        width: 100%;
        font-size: 0.3rem;
      }
    }
    .tags {
      margin-top: 0.05rem;
      font-size: 0.3rem;
    }
  }
}
