* {
  box-sizing: border-box;
}

body,
p,
span,
div,
img,
i,
ul,
li,
strong,
input {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/*不倾斜*/
em,
i {
  font-style: normal;
}

/*button hover*/
button {
  cursor: pointer;
}

button,
input {
  font-family: 'Microsoft YaHei', 'Heiti SC';
  outline: none;
  border: none;
}

/*去掉列表前面的小点*/
li {
  list-style: none;
}

/*去掉图片边框和图片底侧的空白缝隙*/
img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

i {
  display: block;
}

/*取消链接的下划线*/
a {
  text-decoration: none;
}

/*单行文字隐藏*/
.text-one-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*多行溢出(超出省略)*/
.text-two-dot {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

/* 加载数据组件 */
.loading {
  height: 1rem;
  line-height: 1rem;
  text-align: center;
}
